Repository kimiamajd/ucsb-bathroom-locator, changes with the labels that .github/labeler.yml gives for each.
All labels: Bathroom Navigation, Bathroom Locations

add filter
  app/UCSBB/screens/BathroomsScreen.js
Labels: Bathroom Locations

Deleted comments
  app/UCSBB/components/UCSBBMapView.js
  app/UCSBB/screens/BathroomsScreen.js
Labels: Bathroom Navigation, Bathroom Locations

Small map adjustments
  app/UCSBB/components/UCSBBMapView.js
Labels: Bathroom Navigation

loadMarkers method takes an argument to filter the map markers by gender
  app/UCSBB/components/UCSBBMapView.js
Labels: Bathroom Navigation

cleaned up unnecessary code
  app/UCSBB/components/UCSBBMapView.js
  app/UCSBB/screens/BathroomsScreen.js
Labels: Bathroom Navigation, Bathroom Locations

fixed settings bug and started with showing all bathrooms
  app/UCSBB/components/UCSBBMapView.js
  app/UCSBB/screens/SettingsScreen.js
Labels: Bathroom Navigation

afteraffects from merge
  app/UCSBB/screens/BathroomsScreen.js
Labels: Bathroom Locations

half-implemented
  app/UCSBB/package.json
  app/UCSBB/screens/BathroomsScreen.js
  app/UCSBB/screens/SettingsScreen.js
Labels: Bathroom Locations

added missing curly brace
  app/UCSBB/screens/BathroomsScreen.js
Labels: Bathroom Locations

You can filter from settings screen
  app/UCSBB/.idea/UCSBB.iml
  app/UCSBB/.idea/codeStyles/Project.xml
  app/UCSBB/.idea/modules.xml
  app/UCSBB/.idea/vcs.xml
  app/UCSBB/.idea/workspace.xml
  app/UCSBB/components/UCSBBMapView.js
  app/UCSBB/controllers/Controller.js
  app/UCSBB/screens/BathroomsScreen.js
  app/UCSBB/screens/MapScreen.js
  app/UCSBB/screens/SettingsScreen.js
  package-lock.json
Labels: Bathroom Navigation, Bathroom Locations

Cleanup
  app/UCSBB/.idea/workspace.xml
  app/UCSBB/components/UCSBBMapView.js
Labels: Bathroom Navigation

map starts with all bathrooms showing
  app/UCSBB/components/UCSBBMapView.js
Labels: Bathroom Navigation

Combines markers that are close to each other
  app/UCSBB/components/UCSBBMapView.js
Labels: Bathroom Navigation

deleted remnants of controller class
  app/UCSBB/controllers/Controller.js
  app/UCSBB/screens/SettingsScreen.js
Labels: none

.github/labeler.yml:

# Add 'Bathroom Navigation' to any changes to Map-related files in the 'app' folder
Bathroom Navigation:
  - app/**/*Map*

# Add 'Bathroom Locations' to any file changes that deal with the display of the bathrooms list
Bathroom Locations: 
  - app/UCSBB/screens/BathroomsScreen.js
  - app/UCSBB/components/ListElement.js
